.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-check {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider-check:before {
  position: absolute;
  content: "";
  height: 18px; 
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider-check {
  background-color: #4caf50;
}

input:checked + .slider-check:before {
  transform: translateX(20px); 
}
